<div class="page-header">
    <h2>Job Execution History</h2>
</div>
<div>
    <button class="btn btn-primary btn-xs" ng-click="refresh()">Refresh</button>
</div>
<div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <td>Entry Id</td><td>Host Name</td><td>IP Addr</td><td>Scheduler Name</td>
            <td>Job Name</td><td>Job Group</td>
            <td>Trigger Name</td><td>Trigger Group</td><td>Fired Time</td><td>Result</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="historyEntry in historyEntries">
            <td>{{ historyEntry.entryId }}</td>
            <td>{{ historyEntry.hostname }}</td>
            <td>{{ historyEntry.ipAddr }}</td>
            <td>{{ historyEntry.schedulerName }}</td>
            <td>{{ historyEntry.jobName }}</td>
            <td>{{ historyEntry.jobGroup }}</td>
            <td>{{ historyEntry.triggerName }}</td>
            <td>{{ historyEntry.triggerGroup }}</td>
            <td>{{ historyEntry.firedTime }}</td>
            <td>{{ historyEntry.result }}</td>
        </tr>
        </tbody>
    </table>
    <div class="text-center">
        <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>

</div>

